/* Main container styles */
.container {
    text-align: center;
}

/* Toggle buttons styles */
.toggle-buttons {
    margin: 20px 0;
    display: flex;
}

.toggle-buttons button {
    width: 33%;
    background-color: #f2f2f240;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
}

.toggle-buttons button.active {
    background-color: #33333375;
    color: #fff;
}

/* Content sections styles */
.content {
    display: none;
    text-align: left;
/*    background-color: #f2f2f2;*/
    margin: 20px;
}

.content.active {
    display: block;
}

/* List items styles */
ul {
    list-style-type: decimal;
    padding-left: 20px;
}

h4 {
    margin: 20px 0;
    font-weight: bold;
}

p {
    margin: 0;
    line-height: 1.6;
}


#publications p,
#conferences p {
    padding-left: 30px;
    padding-right: 10px;
    text-indent: -20px;
}


/* Alternate styles for every 2nd item in the list */

#publications p:nth-child(odd),
#conferences p:nth-child(odd) {
    background-color: #7e7d7d26; /* Background color for odd-numbered items */
    padding-bottom: 20px; /* Adjust the gap for odd-numbered items */
    padding-top: 20px;
}


#publications p:nth-child(even),
#conferences p:nth-child(even) {
    background-color: #c1cad126; /* Background color for even-numbered items */
    padding-bottom: 20px; /* Adjust the gap for even-numbered items */
    padding-top: 20px;
}


/* Additional CSS for the Ph.D. Thesis section */
#thesis {
    text-align: justify;
}

img.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Ensure headings stay in their intended positions */
h2 {
    margin-top: 0;
}

/* Ensure h4 headings are bold */
h4 {
    font-weight: bold;
}
