/* Import Google font - Poppins */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
.header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
}
.nav {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.nav,
.nav_item {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav_link,
.button {
  color: #000;
}
.nav_logo {
  font-size: 25px;
}
.nav_item {
  column-gap: 25px;
}
.nav_link:hover {
  color: #d9d9d9;
}

#button-m-view {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
/*  padding: 20px;*/
  border: 2px solid #fff;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
}
.button:active {
  transform: scale(0.98);
}

.nav-button {
  display: none;

}

.welcome {
/*  display: flex;*/
  margin: 10px auto;
  overflow: hidden;
  align-items: center;
}

.invite-note {
  width: 70%;
  font-family: serif;
  color: #2a9ae1;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
}
.invite-note p{
  padding-top: 10px;
  align-items: center;
  text-align: center;
}


/* Home */
.home {
  position: absolute;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  height: 100%;
  width: 200%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.home.show::before {
  opacity: 1;
  pointer-events: auto;
  z-index: 999;
}


/* CSS to disable scrolling when the form is active */
.disable-scroll {
  overflow: hidden;
}


.button-40 {
    background-color: #fcfcfd;
    border: 0;
    color: #36395a;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 4px auto; 
    cursor: pointer;
    border-radius: 4px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0d58d9 0 -3px 0 inset;
    transition: box-shadow .15s, transform .15s
}

.button-40:focus {
    outline: 0;
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset
}

.button-40:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px)
}

.button-40:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px)
}

#button-m-view button {
  align-items: center;
  margin: 10px auto;
  border-top: 1px solid black;
}

.navbar-collapse.show{
  width: 100%;
  padding: 0 20px;
  background-color: #fff;
  display: block;
  overflow: hidden;
  z-index: 200;
}

.navbar-collapse.show #button{
  margin: 0 0 0 auto;
  overflow: hidden;
}

.navbar-collapse.show .button-40{
  margin-right: 0;
  float: right;
}

/* From */
.form_container {
  position: fixed;
  max-width: 450px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}
.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.signup_form {
  display: none;
}
.form_container.active .signup_form {
  display: block;
}
.form_container.active .login_form {
  display: none;
}
/*.user_profile {
  display: none;
}*/

.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.form_container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}

.success-message-login, .success-message-signup, .error-message-login {
  font-size: 15px;
  text-align: center;
  margin-top: 15px;
}
.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}
.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}
.input_box input:focus {
  border-color: #7d2ae8;
}
.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}

.input_box i.name,
.input_box i.institute,
.input_box i.position,
.input_box i.email,
.input_box i.password {
  left: 0;
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color: #7d2ae8;
}
.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
}
.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_container a {
  color: #7d2ae8;
  font-size: 12px;
}
.form_container a:hover {
  text-decoration: underline;
}
.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
}
.checkbox input {
  accent-color: #7d2ae8;
}
.checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: #0b0217;
}
.form_container .button {
  background: #7d2ae8;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
}
.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}

/* Styles for the popup container */
@keyframes fadeInPopup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  justify-content: center;
  align-items: center;
  animation: fadeInPopup 0.5s ease forwards;
}

/* Styles for the popup content */
.popup-content {
  display: block;
  overflow: hidden;
  margin-top: 70px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: left;
  font-size: 16px;
}

.popup-content p {
  margin-bottom: 10px; /* Add spacing between paragraphs */
  font-weight: bold;
  color: #665e5e;
}

.popup-content p .label {
  width: 100px; /* Set a fixed width for the label part */
  display: inline-block; /* Make labels inline-block to control width */
  font-weight: 400; /* Make labels bold */
  text-align: right; /* Align labels to the right */
  margin-right: 10px; /* Add margin to separate labels and values */
  color: #a65555;
}

/* Style for the close button */
#close-popup {
  position: absolute;
  top: 10px;
  right: 20px;
  margin-top: 70px;
  color: #9d8eb1;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
  animation: fadeInPopup 0.5s ease forwards;
}


/* Style for the close button on hover */
#close-popup:hover {
  color: #de112f;
  font-size:: 25px;
}


#logout-button {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  animation: fadeInPopup 0.5s ease forwards;
}
.button-container {
  width: 150px;
  margin: auto; /* Adjust the margin as needed 

}

