body {
    background-color: #ffffff !important; /* Override background color */
    color: #000000 !important; /* Override text color */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
.header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
}
.navbar {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
  min-height: 0;
  -webkit-box-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.2);
  box-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.2);
}


.navbar .container {
  max-width: 800px;
}

.navbar .navbar-brand{
  padding-right: auto;
}
.navbar .nav-items{
  width: 250px;
}
.navbar .nav-items .nav-item{
  padding: 0 5px;
}


/* Styling for the footer */
footer {
  background-color: #ffffff;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.return-button {
  background-color: #f0f0f0;
  color: #333;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 35%;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s; /* Add box-shadow transition */
  display: flex;
  align-items: center;
}

.return-button i {
  margin-right: 8px;
}

/* Click effect when the button is pressed */
.return-button:active {
  background-color: #d9d9d9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Hover effect when the button is hovered */
.return-button:hover {
  background-color: #e5e5e5;
}

/* Updated styles for positioning the button to the left */
.footer-left {
  flex: 1; /* Take the available space to push the button to the left */
  display: flex;
  align-items: center;
}

.footer-right {
  font-size: 14px;
}


